body{
    background-color: bisque;
    color: black;

}
h1{
    text-align: center;
}
.text img{
    max-width: 100%;
    
}
.text1{
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    overflow:scroll;
}
.fa-anchor{
    color: blue;
    font-size: 50px;
}